# Database config
DB_USERNAME=username
DB_PASSWORD=password
DB_HOST=0.0.0.0
DB_PORT=5432
DB_DATABASE=db

# Server exposure config
HOST=0.0.0.0
PORT=8000
WORKERS=2

# Auth / JWT settings
SECURE_COOKIES=true
CORS_ORIGINS=https://localhost:5173, https://127.0.0.1:5001
SECRET_KEY=supersecretkeyCHANGEME
ALGORITHM=HS256
MIN_PASSWORD_ZXCVBN_SCORE=3
ACCESS_TOKEN_EXPIRE_SECONDS=900
REFRESH_TOKEN_EXPIRE_SECONDS=2592000
VERIFICATION_TOKEN_EXPIRE_SECONDS=3600
RESEND_API_KEY=supersecretkeyCHANGEME
GOOGLE_OAUTH_REDIRECT_URL=https://localhost:8000/api/auth/google/callback

# For local dev https
SSL_CERTFILE=localhost.pem
SSL_KEYFILE=localhost-key.pem

# Pylance
PYTHONPATH=${workspaceFolder}
