.vscode
venv
node_modules
.DS_Store
package-lock.json
.env
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info
dist
build
*.egg
*.log
*.log.*
logs/**
*.cache
*.coverage
.python-version
git_commit.md
client-secret.json
.cortex/
