.vscode
venv
node_modules
.DS_Store
package-lock.json
.env
client-secret.json
localhost.pem
localhost-key.pem
__pycache__
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.bak
*.tmp
*.swp
*.swo
*.zip
*.tar.gz
*.egg-info
dist
build
*.egg
*.log
*.log.*
logs/**
*.cache
*.coverage
.python-version
git_commit.md
localhost.pem
localhost-key.pem
all_databases_and_users.sql
.cortex/
client-secret.json
